body {
  font-family: Arial, sans-serif;
  background-color: #e6f2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  color: #003366;
  text-align: center;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  width: 300px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, select, button {
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

 input[type="radio"] {
  width: auto;
  margin-right: 8px;
}


button {
  background-color: #00b300;
  color: white;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #009900;
}

table {
  border-collapse: collapse;
  width: 80%;
  background: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #003366;
  color: white;
}

.deleteBtn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.deleteBtn:hover {
  background-color: darkred;
}